{% extends "_base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "" %}{% endblock %}
{% block include_sidebar %}{% include '_sidebar.html' %}{% endblock include_sidebar %}

{% block content %}
{% if messages %}
  {% for message in messages %}
      {{ message.tage }}
      
  {% endfor %}

{% endif %}
<!-- <div class="container">
  <form action="" method="post">
      {% csrf_token %}
      {{ form | crispy }}
  <button class="btn btn-success my-3" type="submit">Send message</button>
  </form>
</div> -->
<div class="my-3 p-3">
  <form method="post" action=""> 
      {% csrf_token %} 
      <div class="my-3">
          
          <label for="exampleFormControlInput1" class="form-label">{% trans "Receipt email address" %}</label>
          <input type="email" class="form-control" name="email" id="exampleFormControlInput1" 
          placeholder="Receipt email address" value="{{ rev_id.email }}" required>
      </div>
      <div class="mb-3">
        <label for="exampleInputSubject" class="form-label">{% trans "Subject" %}</label>
        <input type="text" class="form-control" name="subject" id="exampleInputSubject" 
        value="Reviewer Invitation (first manuscript submission)" required>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">{% trans "Message" %}</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" name="message" rows="10" required>
          {% include 'reviews/email/reviewer_invitation.txt' %}


        </textarea>
      </div>
      <button type="submit" class="btn btn-dark rounded-0">{% trans "Send" %}</button>
        
  </form>
</div>
{% endblock content %}