input {
    background: #e8f0fe;
    
    }
/* .header {
    border-style: none;
    width: 800px;
    height: auto;	
} */
.text-justify {
	margin: 0;
	text-indent: 2rem;
	text-align: justify;
}

#footer {
	text-align: center;
	font-size: 0.8em;
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #FFFFFF;
	border-top: thin solid #BBBBBB;
	clear: both;
	color: #969696;
}
#nav li {
	padding: 10px;
	/* padding-bottom: 10px; */
	font-size: 1em;
	list-style-type: none;
	border-bottom: thin solid #ffffff;
	color: #ffffff;
	/* margin-left: -10px; */
}
#nav li a {
	text-decoration: none;
}
#leftsidebar {
    
    color:#FFFFFF;
    background-color: #4C4C4C;
	/* width: 180px; */
	width: 100%;
	height: 100%;
	/* float: left; */
}
/* #main {
	width: 100%;
	margin-left: 20px;
	margin-right: 10px;
	padding-right: 10px;
} */
#logo {
	padding: 10px;
}

.active_language {
	background-color: #4c4c4c;
	color: #ffffff;
}