{% extends "_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Reviewers Filter" %}{% endblock %}
{% block include_sidebar %}{% include '_sidebar.html' %}{% endblock include_sidebar %}
{% block content %}
    <main class="my-3">
        <section class="bg-white p-3">
            <div class="">
                <div class="row my-1">
                    <div class="col-3">
                        <a class="w-75 btn btn-secondary rounded-0" href="{% url 'create-user-profile' %}" 
                        role="button">{% trans "Add new" %}</a>
                    </div>
                    <div class="col"></div>
                          
                </div>            
                <div class="row accordion my-1"  id="accordion">
                    <div class="col-3">
                        <a class="w-75 btn btn-danger rounded-0" id="panel-heading" data-bs-toggle="collapse"
                        data-bs-target="#panel-collapse" aria-expanded="true"
                        aria-controls="panel-collapse">
                            {% trans "Filters " %}
                            <i class="fas fa-angle-down small"></i>
                        </a>
        
                    </div>
                </div>
                <div class="row">
                        <ul id="panel-collapse" class="accordion-collapse collapse"
                        aria-labelledby="panel-heading">
                            <form method="get">
                                <div class="row">
                                    <div class="col-md-4">
                                        {{ filter.name__icontains|as_crispy_field }}
                                    </div>
                                    <div class="col-md-4">                                                
                                        {{ filter.country__icontains|as_crispy_field }}
                                    </div>
                                    <div class="col-md-4">
                                        {{ filter.user_type|as_crispy_field }}
                                    </div>
                                </div>
        
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ filter.certificate__icontains|as_crispy_field }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ filter.specialist__icontains|as_crispy_field }}
                                    </div>
        
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ filter.work_address__icontains|as_crispy_field }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ filter.specific_specialist__icontains|as_crispy_field }}
                                    </div>
                                </div>
                                {% if not object_list %}
                                    <input type="number" name="page" value={{object_list.number}} hidden>
                                {% else %}
                                    <input type="number" name="page" value={{object_list.number}} hidden>

                                {% endif %}
                                <div class="form-row d-flex justify-content-center">
                                    <button id="filter" class="col-4 btn btn-primary rounded-0" type="submit">{% trans "Filter" %}</button>
                                </div>
                            </form>
                        </ul>
                </div>
            </div>
            <hr>
            <h5 class=" my-1">{% trans "Results count" %}: <strong class="text-success">{{ result_counts }}</strong></h5>
            <br>
        
            <table class="table table-striped table-hover table-sm table-bordered align-middle">
                <thead>
                    <tr role="row" class="small text-center">
                        <th></th>
                        <th>{% trans "Name" %}</th>
                        <th>{% trans "Specialist" %}</th>
                        <th>{% trans "Review History" %}</th>
                        <th class="col-md-2">{% trans "Actions" %}</th>
                    </tr>
                </thead>
        
                <tbody class="small">
                    {% for x,y,z,m in review_list %}
                    {% for a in object_list %}
                    {% if x == a.id %}
                    
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><b>{{ a.name|capfirst }}</b><br>
                            {{ a.user.email }}
                        </td>
                        <td>
                            {{ a.certificate|default_if_none:"" }}<br>
                            {{ a.specialist|default_if_none:"" }}<br>
                            {{ a.specific_specialist|default_if_none:"" }}
                        </td>                        
                        <td>
                            {% if y > 0 %}
                                <b>{% trans "Number of Current Reviews" %}:</b> {{y}}<br>
                                <b>{% trans "Number of Sent Invitations" %}:</b> {{z}}<br>
                                <b>{% trans "Number of Done Reviews" %}:</b> {{m}}
                            {% endif %}
                        </td>                        
                        <td class="small text-center">
                            {% if a.user in rr %} 
                            <a class="btn btn-danger btn-sm" 
                            href="{% url 'remove-reviewer' a.user.id article_id %}" title="{% trans 'Remove from List' %}">
                                <i class="fa fa-minus-square"></i>
                            </a>
                            {% else %}
                            <a class="btn btn-primary btn-sm" 
                            href="{% url 'add-reviewer' a.user.id article_id %}" title="{% trans 'Add to List' %}">
                                <i class="fa fa-plus-square"></i>
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
            {% if object_list.has_other_pages %}
                <ul class="pagination d-flex justify-content-center">
                    {% if object_list.has_previous %}
                        <li class="page-link">
                            <a href="{{ object_list.previous_page_number }}?{% for fil, fil_value in filter_items %}&{{ fil }}={{ fil_value }}{% endfor %}"
                            aria-label="Previous">&laquo;</a>
                        </li>
                    {% else %}
                        <li class="page-link disabled" aria-label="Previous" ><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in object_list.adjusted_elided_pages %}
                        {% if i == object_list.paginator.ELLIPSIS %}
                            <li class="page-link disabled"> {{ i }} </li>
        
                        {% else %}
                            <a href="{{ i }}?{% for fil, fil_value in filter_items %}&{{ fil }}={{ fil_value }}{% endfor %}"
                            class="{% if i == object_list.number %}active{% endif %} page-link">
                                {{ i }}
                            </a>
                        {% endif %}
        
                    {% endfor %}
                    {% if object_list.has_next %}
                        <li><a class="page-link" href="{{ object_list.next_page_number }}?{% for fil, fil_value in filter_items %}&{{ fil }}={{ fil_value }}{% endfor %}"
                            aria-label="Next">&raquo;</a>
                        </li>
                    {% else %}
                        <li class="page-link disabled" aria-label="Next"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
        
            {% endif %}
            <a href="{% url 'article-review' article_id %}" class="btn btn-primary rounded-0">{% trans "Back to Review" %}</a>
        </section>
    </main>


{% endblock content %}