{% extends "_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Update Profile" %}{% endblock %}
{% block include_sidebar %}{% include '_sidebar.html' %}{% endblock include_sidebar %}
{% block content %}
    <div class="row my-3 p-3">
        {% if user_form.errors or profile_form.errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <div id="form_errors">
                    {% for key, value in user_form.errors.items %}
                        <strong>{{ value }}</strong>
                    {% endfor %}
                    {% for key, value in profile_form.errors.items %}
                        <strong>{{ value }}</strong>
                    {% endfor %}
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        <h2 class="fw-bold mb-3 text-center">{{ user.profiles.name }} {% trans "Update Profile" %}</h2>
        <div class="form-content">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col">
                        <hr><h3 class="fw-light my-3 text-center" >{% trans 'Personal Informations:' %}</h3><hr>
                    </div>                    
                </div>                
                <div class="row my-3">
                    <div class="col-md-4">
                        {{ user_form.username|as_crispy_field }}                        
                    </div>
                    <div class="col-md-4">
                        {{ profile_form.name|as_crispy_field }}                        
                    </div>
                    <div class="col-md-4">
                        {{ profile_form.en_name|as_crispy_field }}                        
                    </div>                    
                </div>
                <div class="row my-3">
                    <div class="col">
                        {{ profile_form.bio|as_crispy_field }}
                    </div>
                </div>
                {% if user.profiles.user_type == 'EDITOR' %}
                    <div class="row my-3">
                        <div class="col">
                            {{ profile_form.user_type|as_crispy_field }}
                        </div>
                    </div>
                {% else %}
                <div class="col" hidden>
                    {{ profile_form.user_type|as_crispy_field }}
                </div>
                {% endif %}
                <div class="row my-3">
                    <div class="col">
                        <hr><h3 class="fw-light my-3 text-center" >{% trans 'Contact Informations:' %}</h3><hr>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-md-6">
                        {{ user_form.email|as_crispy_field }}                        
                    </div>
                    <div class="col-md-6">
                        {{ profile_form.email2|as_crispy_field }}                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        {{ profile_form.country|as_crispy_field }}                       
                    </div>
                    <div class="col-md-4">
                        {{ profile_form.phone|as_crispy_field }}                        
                    </div>
                    <div class="col-md-4">
                        {{ profile_form.phone2|as_crispy_field }}                        
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col">
                        {{ profile_form.address|as_crispy_field }}                        
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col">
                        {{ profile_form.work_address|as_crispy_field }}                        
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col">
                        {{ profile_form.en_work_address|as_crispy_field }}                        
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col">
                        <hr><h3 class="fw-light my-3 text-center" >{% trans 'Major Informations:' %}</h3><hr>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-md-4">
                        {{ profile_form.certificate|as_crispy_field }}                        
                    </div>
                    <div class="col-md-4">
                        {{ profile_form.en_certificate|as_crispy_field }}                        
                    </div>
                    <div class="col-md-4">
                        {{ profile_form.specialist|as_crispy_field }}                        
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col">
                        {{ profile_form.specific_specialist|as_crispy_field }}                        
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col">
                        {{ profile_form.publications_count|as_crispy_field }}                        
                    </div>
                </div>
                <!-- editors can update other users profiles but they can't update passwords -->
                {% if user.username == user_form.username.value %}
                    <div class="row my-3">
                        <div class="col text-center">
                            <a href="{% url 'account_change_password' %}">{% trans 'Change Password' %}</a>
                            <hr>
                        </div>
                    </div>
                {% endif %}
                <br>
                
                <div class="text-center">
                    <button type="submit" class="btn btn-dark rounded-0">{% trans 'Save Changes' %}</button><span>   </span>
                    <button type="reset" class="btn btn-dark rounded-0">{% trans 'Reset' %}</button>
                </div>
                
            </form>
        </div>
    </div>
{% endblock content %}